[Unit]
description=disconnect all users from ssh connection
After=custom_firewall.service

[Service]
Type=oneshot
ExecStart=/usr/bin/local/disconnect_users.sh

[Install]
WantedBy=secure-mode.targetclear
