[Unit]
Description=Our first service
After=network.target

[Service]
ExecStart=/usr/local/bin/mon_service.sh
#Restart=always
[Install]
WantedBy=multi-user.target