[Unit]
Description=Service de vérification de disque

[Service]
type=Simple
ExecStart=/usr/local/bin/disk_check.sh

[Install]
WantedBy=multi-user.target